body {
    color: white;
    background: black;
    margin: 0px; 
 font-family: "Chakra Petch", sans-serif;
}

header  {
        border-bottom: solid rgb(21, 89, 177);
        padding: 20px;
        font-size: 32px;
        color:  rgb(42, 122, 228);
}

section {
     backgraund: rgb(225, 25, 225);
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    }

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
{
ing {
      height: 200px;
{


.categoria-videos 
    display: flex;


























































































