body {
    color: white;
    background: black;
}

header  {
    border-bottom: solid rgb(red, green, blue);42, 122, 228;
}
































































































